.App {
  text-align: center;
  
}

.Menu {
  background-color: rgb(28, 29, 28);
  height: 60px;
}

ul {
  list-style: none;
}

#link {
  justify-content: space-evenly;
  font-size: 20px;
  display: flex;
  padding: 15px;
  text-decoration: none;
}

.App-body {
  background-color: rgb(6, 88, 61);
  color: white;

}
